In [ ]:
## 전처리 ##

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
seven = pd.read_csv("17년_일별.csv",encoding='cp949')
eight = pd.read_csv("18년_일별.csv",encoding='cp949')
nine = pd.read_csv("19년_일별.csv",encoding='cp949')
zero = pd.read_csv("20년_일별.csv",encoding='cp949')
one = pd.read_csv("21년_일별.csv",encoding='cp949')
day = pd.read_excel("일별.xlsx",encoding='cp949') 
subway = pd.read_excel("지하철역.xlsx", encoding='cp949',index_col=0)
new_subway = pd.read_excel("newsubway.xlsx", encoding='cp949',index_col=0)
day.rename(columns = {'일시' : '날짜'},inplace = True)

from datetime import datetime
def convert_datetime(dt):
    return datetime.strftime(dt, '%Y-%m-%d')
day['날짜']= day ['날짜'].apply(convert_datetime)

In [ ]:
# 코로나 이전
train1 = pd.concat([seven,eight],axis=0,ignore_index=True)
test1 = nine
# 코로나 이후
train2 = zero
test2 = one

In [ ]:
# 코로나 이전

In [ ]:
train1 = train1.merge(day, how='left', on='날짜')
train1 = train1.sort_values(by=['역명','날짜'])
test1 = test1.merge(day, how='left', on='날짜')
test1 = test1.sort_values(by=['역명','날짜'])

In [ ]:
old = ['갈마','갑천','구암','노은','대동','대전','반석','서대전네거리',
           '시청','신흥','오룡','용문','월드컵경기장','월평','유성온천',
           '정부청사','중구청','중앙로','지족','탄방','판암','현충원']

new = ['Galma','Gapcheon','Guam','Noeun','Daedong','Daejeon','Banseok','Seodaejeon',
       'Sicheong','Shinheung','Oryong','Yongmun','Worldcup','Wolpyeong','Yuseongoncheon',
       'Jeongbucheongsa','Junggucheong','Jungangno','Jijok','Tanbang','Panam','Hyeonchungwon']

for i in range(len(old)):
        test1["역명"].replace({old[i]: new[i]}, inplace=True)
        train1["역명"].replace({old[i]: new[i]}, inplace=True)    
        
test1.rename(columns = {'역명' : 'station'},inplace = True)
test1.set_index('station', inplace=True)
train1.rename(columns = {'역명' : 'station'},inplace = True)
train1.set_index('station', inplace=True)

In [ ]:
new_subway

,agingindex,bank,bar,bus_stop,bus_terminal,dep_store,exit,hospital,library,oliveyoung,pop,sandwich,school_emhu,school_hu,ssm,starbucks,theatre,toast
station,,,,,,,,,,,,,,,,,,
Galma,120.354610,2,0,3,0,0,4,0,0,0,23661,0,7,2,0,0,0,0
Gapcheon,132.911149,0,0,2,0,0,3,0,0,1,23881,0,1,0,1,0,0,0
Guam,117.880979,1,0,4,1,0,3,0,0,0,38837,0,0,0,0,0,0,0
Noeun,51.060684,4,3,2,0,0,4,0,0,1,41852,1,3,1,0,1,1,1
Daedong,118.986175,2,0,4,0,0,8,0,0,0,7612,0,7,2,0,0,0,0
Daejeon,1033.132530,7,0,7,0,0,4,0,0,0,2788,0,1,1,0,0,0,1
Banseok,51.060684,1,1,3,0,0,6,0,0,1,41852,0,3,0,0,1,0,1
Seodaejeon,215.550239,4,3,3,0,0,8,1,0,2,4628,1,5,1,1,1,1,0
Sicheong,70.595037,14,2,4,1,1,8,1,0,1,35933,1,1,0,1,4,1,1
Shinheung,328.882353,0,2,2,0,0,4,0,0,0,10412,0,1,0,0,0,0,0
Oryong,227.010309,3,0,4,0,0,8,1,1,0,4919,0,7,3,1,0,0,0
Yongmun,230.368764,2,2,4,0,1,8,0,0,1,5957,1,1,1,0,2,1,0
Worldcup,51.060684,1,0,5,0,0,7,0,0,0,41852,0,3,1,0,0,0,0
Wolpyeong,132.911149,2,2,3,0,0,4,0,0,1,23881,0,4,1,1,1,0,0
Yuseongoncheon,117.880979,5,2,9,1,0,8,0,0,2,38837,0,2,0,0,2,1,0
Jeongbucheongsa,70.595037,8,0,4,1,1,4,1,0,0,35933,1,0,0,1,3,0,1
Junggucheong,162.449256,5,0,4,0,0,4,1,0,0,6979,0,5,3,0,0,0,0
Jungangno,191.307578,6,1,8,0,0,9,0,0,3,8349,1,2,0,0,2,1,0
Jijok,51.060684,2,0,3,0,0,2,0,1,0,41852,0,5,2,1,1,0,0
Tanbang,95.393338,4,2,3,0,1,5,0,0,1,13267,0,2,1,0,3,1,0
Panam,328.882353,0,0,5,0,0,4,0,4,0,10412,0,2,0,0,1,0,0
Hyeonchungwon,117.880979,0,0,2,0,0,4,0,0,0,38837,0,0,0,0,0,0,0

In [ ]:
train1 = train1.join(new_subway).sort_values(by=['station','날짜'])
test1 = test1.join(new_subway).sort_values(by=['station','날짜'])
train1

,날짜,이용자 수,호우주의보,일우량,휴일,황사수준,장마기간,일최심신적설량(cm),혼잡도,폭염,...,library,oliveyoung,pop,sandwich,school_emhu,school_hu,ssm,starbucks,theatre,toast
station,,,,,,,,,,,,,,,,,,,,,
Banseok,2017-01-01,6530,0,0.0,1,0,0.0,0.0,164.0,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2017-01-02,13175,0,0.0,0,0,0.0,0.0,164.0,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2017-01-03,13766,0,0.0,0,0,0.0,0.0,164.0,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2017-01-04,14712,0,0.0,0,0,0.0,0.0,164.0,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2017-01-05,14478,0,0.0,0,0,0.0,0.0,164.0,0,...,0,1,41852,0,3,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yuseongoncheon,2018-12-27,20504,0,0.0,0,0,0.0,0.0,187.5,0,...,0,2,38837,0,2,0,0,2,1,0
Yuseongoncheon,2018-12-28,21613,0,0.0,0,0,0.0,0.0,187.5,0,...,0,2,38837,0,2,0,0,2,1,0
Yuseongoncheon,2018-12-29,16126,0,0.0,1,0,0.0,0.0,187.5,0,...,0,2,38837,0,2,0,0,2,1,0
Yuseongoncheon,2018-12-30,12182,0,0.0,1,0,0.0,0.0,187.5,0,...,0,2,38837,0,2,0,0,2,1,0
Yuseongoncheon,2018-12-31,20714,0,0.0,0,0,0.0,0.0,187.5,0,...,0,2,38837,0,2,0,0,2,1,0

In [ ]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16060 entries, Banseok to Yuseongoncheon
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   날짜            16060 non-null  object
 1   이용자 수         16060 non-null  int64
 2   호우주의보         16060 non-null  int64
 3   일우량           16060 non-null  float64
 4   휴일            16060 non-null  int64
 5   황사수준          16060 non-null  int64
 6   장마기간          16060 non-null  float64
 7   일최심신적설량(cm)   16060 non-null  float64
 8   혼잡도           16060 non-null  float64
 9   폭염            16060 non-null  int64
 10  평균기온(참조)      16060 non-null  float64
 11  최저기온(참조)      16060 non-null  float64
 12  최고기온(참조)      16060 non-null  float64
 13  agingindex    16060 non-null  float64
 14  bank          16060 non-null  int64
 15  bar           16060 non-null  int64
 16  bus_stop      16060 non-null  int64
 17  bus_terminal  16060 non-null  int64
 18  dep_store     16060 non-null  int64
 19  exit          16060 non-null  int64
 20  hospital      16060 non-null  int64
 21  library       16060 non-null  int64
 22  oliveyoung    16060 non-null  int64
 23  pop           16060 non-null  int64
 24  sandwich      16060 non-null  int64
 25  school_emhu   16060 non-null  int64
 26  school_hu     16060 non-null  int64
 27  ssm           16060 non-null  int64
 28  starbucks     16060 non-null  int64
 29  theatre       16060 non-null  int64
 30  toast         16060 non-null  int64
dtypes: float64(8), int64(22), object(1)
memory usage: 4.2+ MB

In [ ]:
test1_banseok = test1.loc['Banseok']
train1_banseok = train1.loc['Banseok']

In [ ]:
test1_banseok
train1_banseok

,날짜,이용자 수,호우주의보,일우량,휴일,황사수준,장마기간,일최심신적설량(cm),혼잡도,폭염,...,library,oliveyoung,pop,sandwich,school_emhu,school_hu,ssm,starbucks,theatre,toast
station,,,,,,,,,,,,,,,,,,,,,
Banseok,2017-01-01,6530,0,0.0,1,0,0.0,0.0,164.0,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2017-01-02,13175,0,0.0,0,0,0.0,0.0,164.0,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2017-01-03,13766,0,0.0,0,0,0.0,0.0,164.0,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2017-01-04,14712,0,0.0,0,0,0.0,0.0,164.0,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2017-01-05,14478,0,0.0,0,0,0.0,0.0,164.0,0,...,0,1,41852,0,3,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Banseok,2018-12-27,16183,0,0.0,0,0,0.0,0.0,187.5,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2018-12-28,16815,0,0.0,0,0,0.0,0.0,187.5,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2018-12-29,10709,0,0.0,1,0,0.0,0.0,187.5,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2018-12-30,7878,0,0.0,1,0,0.0,0.0,187.5,0,...,0,1,41852,0,3,0,0,1,0,1
Banseok,2018-12-31,14480,0,0.0,0,0,0.0,0.0,187.5,0,...,0,1,41852,0,3,0,0,1,0,1

In [ ]:
train1_banseok.columns

Index(['날짜', '이용자 수', '호우주의보', '일우량', '휴일', '황사수준', '장마기간', '일최심신적설량(cm)',
       '혼잡도', '폭염', '평균기온(참조)', '최저기온(참조)', '최고기온(참조)', 'agingindex', 'bank',
       'bar', 'bus_stop', 'bus_terminal', 'dep_store', 'exit', 'hospital',
       'library', 'oliveyoung', 'pop', 'sandwich', 'school_emhu', 'school_hu',
       'ssm', 'starbucks', 'theatre', 'toast'],
      dtype='object')

In [ ]:
## LGBM baseline

In [ ]:
import numpy as np
import pandas as pd
import lightgbm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer

#
# Create training and validation sets
#
x, x_test, y, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

#
# Create the LightGBM data containers
#
categorical_features = [c for c, col in enumerate(train.columns) if 'cat' in col]
train_data = lightgbm.Dataset(x, label=y, categorical_feature=categorical_features)
test_data = lightgbm.Dataset(x_test, label=y_test)


#
# Train the model
#

parameters = {
    'application': 'binary',
    'objective': 'binary',
    'metric': 'auc',
    'is_unbalance': 'true',
    'boosting': 'gbdt',
    'num_leaves': 31,
    'feature_fraction': 0.5,
    'bagging_fraction': 0.5,
    'bagging_freq': 20,
    'learning_rate': 0.05,
    'verbose': 0
}

model = lightgbm.train(parameters,
                       train_data,
                       valid_sets=test_data,
                       num_boost_round=5000,
                       early_stopping_rounds=100)
#
# Create a submission
#

submission = pd.read_csv('../input/test.csv')
ids = submission['id'].values
submission.drop('id', inplace=True, axis=1)


x = submission.values
y = model.predict(x)

output = pd.DataFrame({'id': ids, 'target': y})
output.to_csv("submission.csv", index=False)

In [ ]:
## SVM baseline

In [ ]:
# 트레이닝/테스트 데이터 분할

from sklearn.model_selection import train_test_split
X_tn, X_te, y_tn, y_te = train_test_split(X,y,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
std_scale = StandardScaler()
std_scale.fit(X_tn)
X_tn_std = std_scale.transform(X_tn)
X_te_std = std_scale.transform(X_te)

In [ ]:
from sklearn import svm
clf_svm_lr = svm.SVC(kernel='linear', random_state =0)
clf_svm_lr.fit(X_tn_std, y_tn)

SVC(kernel='linear', random_state=0)

In [ ]:
pred_svm = clf_svm_lr.predict(X_te_std)
print(pred_svm)

[0 2 1 0 1 1 0 2 1 1 2 2 0 1 2 1 0 0 1 0 1 0 0 1 1 1 1 1 1 2 0 0 1 0 0 0 2
 1 1 2 0 0 1 1 1]